<!DOCTYPE>
<html>
    <head>
        <title><%=pageTitle%></title>
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Home Page</h1>
            <a class="btn btn-danger" href="/">Logout</a>
        </div>

        <script src="./js/jquery-3.1.1.slim.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
    </body>
</html>