<!DOCTYPE>
<html>
    <head>
        <title><%=pageTitle%></title>
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./css/custom.css">
    </head>
    <body>
        <!--<div class="container">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="clearfix"><img src="./images/rbuilder.png" alt="rbuilder logo" height="150"></div>
                
               <a class="btn btn-primary" href="/home">Login</a>
            </div>
            
        </div>-->
<section id="login" class="login">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<div class="login-div box">
					<-- <h1 class="text-center">RBuilder</h1> -->
					<img src="/images/rbuilder.png" width="100%">
					<!-- <div class="login-form"> -->
						<form class="login-form" action="home">
							<div class="form-group">
								<label class="control-label sr-only sr-only-focusable">Username</label>
								<div class="">
									<input type="text" class="form-control" placeholder="Username">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label sr-only sr-only-focusable">Password</label>
								<div class="input-group">
									<input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
								 	<span class="input-group-addon" id="basic-addon1">
									 	<a href="">Forgot?</a>
									</span>
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block" type="submit">Login</button>
							</div>

						</form>
					<!-- </div> -->
				</div>
			</div>

			<div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
				<div class=" box">
					<p>Don't have an account ? <a href="#" class="">Sign up</a></p>
				</div>
			</div>
					

		</div>
	</div>
</section>

        <script src="./js/jquery-3.1.1.slim.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
    </body>
</html>
