<!DOCTYPE>
<html>
    <head>
        <title><%=pageTitle%></title>
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./css/custom.css">
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="clearfix"><img src="./images/rbuilder.png" alt="rbuilder logo" height="150"></div>
                
               <a class="btn btn-primary" href="/home">Login</a>
            </div>
            
        </div>

        <script src="./js/jquery-3.1.1.slim.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
    </body>
</html>