<!DOCTYPE>
<html>
    <head>
        <title>Not Found</title>
    </head>
    <style>
        .center-image{
            text-align:center;
        }
    </style>
    <body>
        <div class="center-image">
            <img src="./images/404-not-found.png" alt="404 not found">
        </div>
    </body>
</html>