<!DOCTYPE html>
<html lang="en">
<head>
	<title>Log In</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
	<link href="dist/hamburgers.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>


<!-- HEADER -->
<aside class="rb-navigation hidden-sm hidden-xs">
	<div class="bg-white">
		<div class="row">
			<div class="col-md-12">
				<!-- LOGO -->
				<div class="logo">
					<a href="#" class="">LOGO</a>	
				</div>
				<div class="user">
					<div class="photo">
						<img src="images/profile.jpg" class="img-responsive">
					</div>
					<div class="user-info">
						<a data-toggle="collapse" href="#collapseMenu" class="collapsed">
	                    	Sherlocks Holmes <b class="caret"></b>
	                	</a>
		                <div class="collapse" id="collapseMenu">
		                    <ul class="nav">
		                        <li><a href="#">My Profile</a></li>
		                        <li><a href="#">Logout</a></li>
		                        <li><a href="#">Settings</a></li>
		                    </ul>
		                </div>
					</div>
				</div>
				
				
			</div>
			<!-- Navigation -->
			<div class="col-md-12">
				<nav class="rb-nav" id="">
				   <ul class="nav nav-stacked">
				     <li class="active"><a href="#">Section 1</a></li>
				     <li><a href="#">Section 2</a></li>
				     <li><a href="#">Section 3</a></li>
				     <li><a href="#">Section 3</a></li>
				</nav>
			</div>
		</div>
	</div>
</aside>

<!-- CONTENT -->

<div class="content-wrapper">
	<section class="content-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Dashboard</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="tile-counter bg-accent">
						<span class="tile-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
						<div class="tile-content">
							<h5>Likes</h5>
							<h4>21</h4>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="tile-counter bg-success">
						<span class="tile-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
						<div class="tile-content">
							<h5>Views</h5>
							<h4>21</h4>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="tile-counter bg-primary">
						<span class="tile-icon"><i class="fa fa-star-o" aria-hidden="true"></i></span>
						<div class="tile-content">
							<h5>Rates</h5>
							<h4>21</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>



	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Custom Js script -->
	<script type="text/javascript">
	    // Closes the sidebar menu
	       $("#menu-close").click(function(e) {
	           e.preventDefault();
	           $("#sidebar-wrapper").toggleClass("active");
	       });

	       // Opens the sidebar menu
	       $("#menu-toggle").click(function(e) {
	           e.preventDefault();
	           $("#sidebar-wrapper").toggleClass("active");
	       });
	</script>
	<script type="text/javascript">
	    var $hamburger = $(".hamburger");
	     $hamburger.on("click", function(e) {
	       $hamburger.toggleClass("is-active");
	       // Do something else, like open/close menu
	     });
	</script>
</body>
</html>
