<!DOCTYPE html>
<html lang="en">
<head>
	<title>Log In</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body>



	<!-- HEADER -->
	<header id="rb-header" class="hidden-sm hidden-xs">
		<div class="container bg-white">
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-12">
					<div class="logo">
						<img src="images/logo.png" class="img-responsive">
					</div>
				</div>

				<!-- Navigation -->
				<div class="col-md-12">
					<nav class="rb-navigation" id="myScrollspy">
					   <ul class="nav nav-stacked">
					     <li class="active"><a href="#section1">Section 1</a></li>
					     <li><a href="#section2">Section 2</a></li>
					     <li><a href="#section3">Section 3</a></li>
					     <li><a href="#section4">Section 4</a></li>
					     <li><a href="#section5">Section 5</a></li>
					     <li><a href="#section6">Section 6</a></li>
					   </ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<!-- CONTENT -->

	<div id="content" class="bg-white">
		<section id="section1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="section2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION TWO</h1>
					</div>
				</div>
			</div>
		</section>
<!-- 		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>

		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>

		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>

		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section> -->
	</div>



	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
