<!DOCTYPE html>
<html lang="en">
<head>
	<title>Log In</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="dist/hamburgers.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="custom.css">

</head>
<body>

	<!-- MOBILE NAVIGATION -->
	<div id="menu-toggle" class="custom_hamburger hamburger hamburger--stand toggle visible-xs visible-sm" tabindex="0"
	     aria-label="Menu" role="button" aria-controls="navigation">
	  <div class="hamburger-box">
	    <div class="hamburger-inner"></div>
	  </div>
	</div>
	<nav id="sidebar-wrapper">
	        <ul class="sidebar-nav">
	            <button id="menu-close" class="custom_hamburger hamburger hamburger--stand toggle" type="button">
	              <span class="hamburger-box">
	                <span class="hamburger-inner"></span>
	              </span>
	            </button>
	            <li class="sidebar-brand">
	                <a href="#top">Design Studio</a>
	            </li>
	            <li>
	                <a href="#top">Home</a>
	            </li>
	            <li>
	                <a href="#about">About us</a>
	            </li>
	            <li>
	                <a href="#services">Services</a>
	            </li>
	            <li>
	                <a href="#process">Process</a>
	            </li>
	            <li>
	                <a href="#work">Our work</a>
	            </li>
	             <li>
	                <a href="project-description.html">Project description</a>
	            </li>
	            <li>
	                <a href="#clients">Our clients</a>
	            </li>
	            <li>
	                <a href="#team">Team</a>
	            </li>
	            <li>
	                <a href="#contact">Contact</a>
	            </li>
	        </ul>
	    </nav>


	<!-- HEADER -->
	<section id="rb-navigation" class="hidden-sm hidden-xs">
		<div class="container bg-white">
			<div class="row">
				<div class="col-md-12">
					<!-- LOGO -->
					<div class="logo">
						<a href="#" class="">LOGO</a>	
					</div>
					<div class="user">
						<div class="photo">
							<img src="images/profile.jpg" class="img-responsive">
						</div>
						<div class="user-info">
							<a data-toggle="collapse" href="#collapseMenu" class="collapsed">
		                    	sherlock holmes <b class="caret"></b>
		                	</a>
			                <div class="collapse" id="collapseMenu">
			                    <ul class="nav">
			                        <li><a href="#">My Profile</a></li>
			                        <li><a href="#">Logout</a></li>
			                        <li><a href="#">Settings</a></li>
			                    </ul>
			                </div>
						</div>
					</div>
					
					
				</div>
				<!-- Navigation -->
				<div class="col-md-12">
					<nav class="rb-nav" id="">
					   <ul class="nav nav-stacked">
					     <li class="active"><a href="#">Section 1</a></li>
					     <li><a href="#">Section 2</a></li>
					     <li><a href="#">Section 3</a></li>
					     <li><a href="#">Section 3</a></li>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<!-- CONTENT -->

	<div id="content" class="">
		<section id="section1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="section2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION TWO</h1>
					</div>
				</div>
			</div>
		</section>
<!-- 		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>

		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>

		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>

		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section>
		<section id="start">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>SECTION ONE</h1>
					</div>
				</div>
			</div>
		</section> -->
	</div>



	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Custom Js script -->
	<script type="text/javascript">
	    // Closes the sidebar menu
	       $("#menu-close").click(function(e) {
	           e.preventDefault();
	           $("#sidebar-wrapper").toggleClass("active");
	       });

	       // Opens the sidebar menu
	       $("#menu-toggle").click(function(e) {
	           e.preventDefault();
	           $("#sidebar-wrapper").toggleClass("active");
	       });
	</script>
	<script type="text/javascript">
	    var $hamburger = $(".hamburger");
	     $hamburger.on("click", function(e) {
	       $hamburger.toggleClass("is-active");
	       // Do something else, like open/close menu
	     });
	</script>
</body>
</html>
